body {font-family: Helvetica, Arial, sans-serif; padding: 0; margin: 20px;}
header h1 {margin: 0;}

nav {background: #cccccc; border-radius: 5px; padding: 0; margin: 0;}
nav ul {list-style-type: none; padding: 10px;}
nav ul li {display: inline;}
nav ul li::after {content: ' / ';}
nav ul li:last-child::after {content: none;}
nav ul li a {text-decoration: none;}
nav ul li a:hover {text-shadow: 1px 2px 4px #000;}
    
.serie {height: auto; width: auto; overflow: hidden;}
.nadpis h1 {font-size: 26px; border-bottom: 1px solid #ccc; padding-bottom: 3px; margin: 0;}
article section .vlajka {float: right; width: 35px;}
article section .vlajka img {width: 30px; padding: 1px;}
article {padding-bottom: 30px;}
article .clear {border-bottom: 1px solid #ccc; clear: both;}
article section {overflow: hidden;}
article figure {float: left; width: 264px; margin: 0 20px 0 0; text-align: center;}
article figure img {width: 240px; padding: 1px; -webkit-box-shadow: 1px 2px 8px #000; box-shadow: 1px 2px 8px #000;}
article header {border-bottom: 1px solid #ccc;} 
article header h1 {font-size: 24px; border-bottom: none; padding-bottom: 0; margin: 0;}
article header h2 {font-size: 16px; border-bottom: none; padding-bottom: 0; margin: 0;}

footer {font-size: 11px; text-align: center;}

table { width:100%;}
th, td { border-bottom: 1px solid #ccc;}
td.nazev { width:35%;}
td.original { width:25%;}
td.autor { width:30%;}
td.jazyk { width:10%;}



